@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

body {
  background-color: white;
  font-family: "Merienda One", cursive; }

/* Empieza Header */
/* Extends */
.footer__redes, .main, .aside__section, .maina__carrusel, .maina__section__filosofia, .maina__section__yoga, .maina__section__meditacion, .maina__section__varios, .maina__section__texto, .mainc__section, .mainc__form, .div__boton, .mapa, .doscaras, .textocabanas, .efectocabanas, .efectocabanas2, .efectocabanas3, .mainic__section, .mainic__boton {
  display: flex;
  justify-content: center; }

.maina__section__texto .pf,
.maina__section__texto .py,
.maina__section__texto .pm,
.maina__section__texto .mas, .mobile, .mobileCarrousel {
  display: none; }

.maina__section__filosofia:hover + .maina__section__yoga + .maina__section__meditacion + .maina__section__varios + .maina__section__texto .pf, .maina__section__yoga:hover + .maina__section__meditacion + .maina__section__varios + .maina__section__texto .py, .maina__section__meditacion:hover + .maina__section__varios + .maina__section__texto .pm, .maina__section__varios:hover + .maina__section__texto .mas {
  display: block; }

.maina__section__filosofia, .maina__section__yoga, .maina__section__meditacion, .maina__section__varios {
  padding: 0.2rem 4rem;
  border: solid 5px;
  border-color: #b6873f;
  border-radius: 10px;
  margin: 10px;
  transition: 3s;
  position: relative;
  align-items: center;
  cursor: pointer; }

.maina__section__filosofia .fi, .maina__section__yoga .yo, .maina__section__meditacion .me, .maina__section__varios .ma {
  margin: 0;
  font-size: 1.5rem;
  color: #b6873f;
  letter-spacing: .3rem;
  font-weight: 400;
  text-shadow: 0.1rem 0.1rem 0.1rem black;
  text-transform: uppercase; }

.maina__section__filosofia .mente, .maina__section__yoga .cuerpo, .maina__section__meditacion .espiritu, .maina__section__varios .masmas {
  position: absolute;
  margin: 0;
  font-size: 1.5rem;
  color: #b6873f;
  letter-spacing: .3rem;
  font-weight: 400;
  text-shadow: 0.1rem 0.1rem 0.1rem black;
  text-transform: uppercase; }

.efectocabanas, .efectocabanas2, .efectocabanas3 {
  margin: 20px;
  border-radius: 10px;
  width: 500px;
  height: 300px;
  border: solid 1px;
  background-size: cover;
  transition: all 4s; }
  .efectocabanas:hover, .efectocabanas2:hover, .efectocabanas3:hover {
    animation: carrousel 8s infinite; }
  .efectocabanas:hover + .textocabanas, .efectocabanas2:hover + .textocabanas, .efectocabanas3:hover + .textocabanas {
    background-color: #b6873f; }

/* Mixin */
.header {
  grid-area: header;
  background-color: #b6873f; }
  .header__nav {
    border-bottom: solid 2px;
    margin-bottom: 2px;
    border-color: #b6873f;
    align-items: flex-end; }

.logo {
  width: 120px;
  border: solid 2px black;
  border-color: #ebead8;
  border-radius: 20px; }

.textotitulo {
  color: black;
  font-family: "Allison", cursive;
  font-size: 3rem;
  margin: 3px; }

.nav-link {
  color: black; }

.navbar-nav .nav-link.active {
  color: #ebead8; }

/* Finaliza Header */
/* Extends */
.footer__redes, .main, .aside__section, .maina__carrusel, .maina__section__filosofia, .maina__section__yoga, .maina__section__meditacion, .maina__section__varios, .maina__section__texto, .mainc__section, .mainc__form, .div__boton, .mapa, .doscaras, .textocabanas, .efectocabanas, .efectocabanas2, .efectocabanas3, .mainic__section, .mainic__boton {
  display: flex;
  justify-content: center; }

.maina__section__texto .pf,
.maina__section__texto .py,
.maina__section__texto .pm,
.maina__section__texto .mas, .mobile, .mobileCarrousel {
  display: none; }

.maina__section__filosofia:hover + .maina__section__yoga + .maina__section__meditacion + .maina__section__varios + .maina__section__texto .pf, .maina__section__yoga:hover + .maina__section__meditacion + .maina__section__varios + .maina__section__texto .py, .maina__section__meditacion:hover + .maina__section__varios + .maina__section__texto .pm, .maina__section__varios:hover + .maina__section__texto .mas {
  display: block; }

.maina__section__filosofia, .maina__section__yoga, .maina__section__meditacion, .maina__section__varios {
  padding: 0.2rem 4rem;
  border: solid 5px;
  border-color: #b6873f;
  border-radius: 10px;
  margin: 10px;
  transition: 3s;
  position: relative;
  align-items: center;
  cursor: pointer; }

.maina__section__filosofia .fi, .maina__section__yoga .yo, .maina__section__meditacion .me, .maina__section__varios .ma {
  margin: 0;
  font-size: 1.5rem;
  color: #b6873f;
  letter-spacing: .3rem;
  font-weight: 400;
  text-shadow: 0.1rem 0.1rem 0.1rem black;
  text-transform: uppercase; }

.maina__section__filosofia .mente, .maina__section__yoga .cuerpo, .maina__section__meditacion .espiritu, .maina__section__varios .masmas {
  position: absolute;
  margin: 0;
  font-size: 1.5rem;
  color: #b6873f;
  letter-spacing: .3rem;
  font-weight: 400;
  text-shadow: 0.1rem 0.1rem 0.1rem black;
  text-transform: uppercase; }

.efectocabanas, .efectocabanas2, .efectocabanas3 {
  margin: 20px;
  border-radius: 10px;
  width: 500px;
  height: 300px;
  border: solid 1px;
  background-size: cover;
  transition: all 4s; }
  .efectocabanas:hover, .efectocabanas2:hover, .efectocabanas3:hover {
    animation: carrousel 8s infinite; }
  .efectocabanas:hover + .textocabanas, .efectocabanas2:hover + .textocabanas, .efectocabanas3:hover + .textocabanas {
    background-color: #b6873f; }

/* Mixin */
.footer {
  grid-area: footer;
  background-color: #b6873f;
  border-top: solid 2px;
  border-color: #ebead8; }
  .footer__section {
    color: black;
    margin: 5px; }
  .footer__redes {
    align-items: flex-end; }

.bi {
  color: blue;
  margin: 5px; }

/* Empieza Index */
/* Extends */
.footer__redes, .main, .aside__section, .maina__carrusel, .maina__section__filosofia, .maina__section__yoga, .maina__section__meditacion, .maina__section__varios, .maina__section__texto, .mainc__section, .mainc__form, .div__boton, .mapa, .doscaras, .textocabanas, .efectocabanas, .efectocabanas2, .efectocabanas3, .mainic__section, .mainic__boton {
  display: flex;
  justify-content: center; }

.maina__section__texto .pf,
.maina__section__texto .py,
.maina__section__texto .pm,
.maina__section__texto .mas, .mobile, .mobileCarrousel {
  display: none; }

.maina__section__filosofia:hover + .maina__section__yoga + .maina__section__meditacion + .maina__section__varios + .maina__section__texto .pf, .maina__section__yoga:hover + .maina__section__meditacion + .maina__section__varios + .maina__section__texto .py, .maina__section__meditacion:hover + .maina__section__varios + .maina__section__texto .pm, .maina__section__varios:hover + .maina__section__texto .mas {
  display: block; }

.maina__section__filosofia, .maina__section__yoga, .maina__section__meditacion, .maina__section__varios {
  padding: 0.2rem 4rem;
  border: solid 5px;
  border-color: #b6873f;
  border-radius: 10px;
  margin: 10px;
  transition: 3s;
  position: relative;
  align-items: center;
  cursor: pointer; }

.maina__section__filosofia .fi, .maina__section__yoga .yo, .maina__section__meditacion .me, .maina__section__varios .ma {
  margin: 0;
  font-size: 1.5rem;
  color: #b6873f;
  letter-spacing: .3rem;
  font-weight: 400;
  text-shadow: 0.1rem 0.1rem 0.1rem black;
  text-transform: uppercase; }

.maina__section__filosofia .mente, .maina__section__yoga .cuerpo, .maina__section__meditacion .espiritu, .maina__section__varios .masmas {
  position: absolute;
  margin: 0;
  font-size: 1.5rem;
  color: #b6873f;
  letter-spacing: .3rem;
  font-weight: 400;
  text-shadow: 0.1rem 0.1rem 0.1rem black;
  text-transform: uppercase; }

.efectocabanas, .efectocabanas2, .efectocabanas3 {
  margin: 20px;
  border-radius: 10px;
  width: 500px;
  height: 300px;
  border: solid 1px;
  background-size: cover;
  transition: all 4s; }
  .efectocabanas:hover, .efectocabanas2:hover, .efectocabanas3:hover {
    animation: carrousel 8s infinite; }
  .efectocabanas:hover + .textocabanas, .efectocabanas2:hover + .textocabanas, .efectocabanas3:hover + .textocabanas {
    background-color: #b6873f; }

/* Mixin */
/* Layout Index */
.layout {
  display: grid;
  grid-template: "header" auto "main" auto "aside" auto "footer" auto; }

/* Empieza Main Index */
.main {
  grid-area: main; }
  .main__section {
    display: flex;
    align-items: center;
    margin: 20px; }
    .main__section__texto {
      width: 800px;
      margin: 10px; }
    .main__section__carrusel {
      width: 400px;
      height: 400px; }

.imgtamano {
  border-radius: 5px;
  width: 400px;
  height: 350px; }

/* Finaliza Main Index */
/* Comienza Aside Index */
.aside {
  grid-area: aside; }
  .aside__section {
    margin: 20px; }
  .aside .boton {
    transition: 0.15;
    text-align: center;
    font-size: 1, 3rem;
    font-family: 'Merienda One', cursive;
    border-radius: 10px;
    border: solid 1px;
    width: 50%;
    background-color: #F7F1F4;
    border-color: #52B352;
    padding: 7px;
    color: #52B352;
    text-decoration: none; }
    .aside .boton:hover {
      background-color: #00FF00;
      color: #FF0080; }

/* Finaliza Aside Index */
/* Finaliza Index */
/* Empieza Actividades */
/* Extends */
.footer__redes, .main, .aside__section, .maina__carrusel, .maina__section__filosofia, .maina__section__yoga, .maina__section__meditacion, .maina__section__varios, .maina__section__texto, .mainc__section, .mainc__form, .div__boton, .mapa, .doscaras, .textocabanas, .efectocabanas, .efectocabanas2, .efectocabanas3, .mainic__section, .mainic__boton {
  display: flex;
  justify-content: center; }

.maina__section__texto .pf,
.maina__section__texto .py,
.maina__section__texto .pm,
.maina__section__texto .mas, .mobile, .mobileCarrousel {
  display: none; }

.maina__section__filosofia:hover + .maina__section__yoga + .maina__section__meditacion + .maina__section__varios + .maina__section__texto .pf, .maina__section__yoga:hover + .maina__section__meditacion + .maina__section__varios + .maina__section__texto .py, .maina__section__meditacion:hover + .maina__section__varios + .maina__section__texto .pm, .maina__section__varios:hover + .maina__section__texto .mas {
  display: block; }

.maina__section__filosofia, .maina__section__yoga, .maina__section__meditacion, .maina__section__varios {
  padding: 0.2rem 4rem;
  border: solid 5px;
  border-color: #b6873f;
  border-radius: 10px;
  margin: 10px;
  transition: 3s;
  position: relative;
  align-items: center;
  cursor: pointer; }

.maina__section__filosofia .fi, .maina__section__yoga .yo, .maina__section__meditacion .me, .maina__section__varios .ma {
  margin: 0;
  font-size: 1.5rem;
  color: #b6873f;
  letter-spacing: .3rem;
  font-weight: 400;
  text-shadow: 0.1rem 0.1rem 0.1rem black;
  text-transform: uppercase; }

.maina__section__filosofia .mente, .maina__section__yoga .cuerpo, .maina__section__meditacion .espiritu, .maina__section__varios .masmas {
  position: absolute;
  margin: 0;
  font-size: 1.5rem;
  color: #b6873f;
  letter-spacing: .3rem;
  font-weight: 400;
  text-shadow: 0.1rem 0.1rem 0.1rem black;
  text-transform: uppercase; }

.efectocabanas, .efectocabanas2, .efectocabanas3 {
  margin: 20px;
  border-radius: 10px;
  width: 500px;
  height: 300px;
  border: solid 1px;
  background-size: cover;
  transition: all 4s; }
  .efectocabanas:hover, .efectocabanas2:hover, .efectocabanas3:hover {
    animation: carrousel 8s infinite; }
  .efectocabanas:hover + .textocabanas, .efectocabanas2:hover + .textocabanas, .efectocabanas3:hover + .textocabanas {
    background-color: #b6873f; }

/* Mixin */
/* Layout Actividades */
.layouta {
  display: grid;
  grid-template: "header" auto "maina" auto  "footer" auto; }

.maina {
  grid-area: maina;
  min-height: 90vh; }
  .maina__carrusel {
    margin-top: 10px; }
  .maina__info {
    text-align: center;
    font-size: 1.5rem;
    margin: 20px auto;
    width: 80%; }
  .maina__section__filosofia .fi {
    opacity: 100%; }
  .maina__section__filosofia .mente {
    opacity: 0; }
  .maina__section__filosofia:hover {
    transform: rotateX(360deg); }
    .maina__section__filosofia:hover .fi {
      transition: 2s;
      opacity: 0; }
    .maina__section__filosofia:hover .mente {
      transition: 4s;
      opacity: 100%; }
  .maina__section__filosofia:hover + .maina__section__yoga + .maina__section__meditacion + .maina__section__varios + .maina__section__texto {
    background-color: #b6873f;
    background-image: url(../Imagenes/actividades/fondoFilo.png); }
  .maina__section__yoga .yo {
    opacity: 100%; }
  .maina__section__yoga .cuerpo {
    opacity: 0; }
  .maina__section__yoga:hover {
    transform: rotateX(360deg); }
    .maina__section__yoga:hover .yo {
      transition: 2s;
      opacity: 0; }
    .maina__section__yoga:hover .cuerpo {
      transition: 4s;
      opacity: 100%; }
  .maina__section__yoga:hover + .maina__section__meditacion + .maina__section__varios + .maina__section__texto {
    background-color: #b6873f;
    background-image: url(../Imagenes/actividades/fondoYoga.png); }
  .maina__section__meditacion .me {
    opacity: 100%; }
  .maina__section__meditacion .espiritu {
    opacity: 0; }
  .maina__section__meditacion:hover {
    transform: rotateX(360deg); }
    .maina__section__meditacion:hover .me {
      transition: 2s;
      opacity: 0; }
    .maina__section__meditacion:hover .espiritu {
      transition: 4s;
      opacity: 100%; }
  .maina__section__meditacion:hover + .maina__section__varios + .maina__section__texto {
    background-color: #b6873f;
    background-image: url(../Imagenes/actividades/fondoMeditacion.png); }
  .maina__section__varios .ma {
    opacity: 100%; }
  .maina__section__varios .masmas {
    opacity: 0; }
  .maina__section__varios:hover {
    transform: rotateX(360deg); }
    .maina__section__varios:hover .ma {
      transition: 2s;
      opacity: 0; }
    .maina__section__varios:hover .masmas {
      transition: 4s;
      opacity: 100%; }
  .maina__section__varios:hover + .maina__section__texto {
    background-color: #b6873f;
    background-image: url(../Imagenes/actividades/mas.png); }
  .maina__section__texto {
    align-items: center;
    border: solid 1px;
    border-color: #b6873f;
    border-radius: 10px;
    width: 100%;
    height: 300px;
    margin: 10px;
    margin-top: 40px; }
    .maina__section__texto .pf,
    .maina__section__texto .py,
    .maina__section__texto .pm,
    .maina__section__texto .mas {
      letter-spacing: .2rem;
      word-spacing: 1rem;
      line-height: 2rem;
      font-weight: 200; }

.accordion {
  margin-top: 20px; }

/* Finaliza Actividades */
/* Empieza contacto */
/* Empieza Layout */
.layoutc {
  display: grid;
  grid-template: "header" auto "mainc" auto "footer" auto; }

.mainc {
  grid-area: mainc; }
  .mainc__h1 {
    text-align: center;
    margin: 5px; }
  .mainc__section__div a {
    font-size: 3rem;
    color: #b6873f;
    margin: 5px; }
    .mainc__section__div a .ic:hover {
      transition: 0.2s;
      color: #0dcaf0; }
  .mainc__form {
    width: auto;
    background-color: #B7925C; }
    .mainc__form__form {
      padding: 10px;
      margin: 10px;
      background-color: #B89D79;
      border-radius: 10px; }

.botonC {
  transition: 0.15;
  text-align: center;
  font-size: 1, 3rem;
  font-family: 'Merienda One', cursive;
  border-radius: 10px;
  border: solid 1px;
  width: 50%;
  background-color: #F7F1F4;
  border-color: #52B352;
  padding: 7px;
  color: #52B352;
  text-decoration: none;
  margin: 5px; }
  .botonC:hover {
    background-color: #00FF00;
    color: #FF0080; }

.comentarios {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .comentarios__style {
    width: 30rem;
    height: 10rem; }

/* Finaliza Contacto */
/* Empieza filosofía */
/* Layout Filosofía */
.layoutf {
  display: grid;
  grid-template: "header" auto "mainf" auto "footer" auto; }

.mainf {
  grid-area: mainf; }
  .mainf__div img {
    width: 300px;
    margin-bottom: 10px; }

.textof {
  margin-top: 10px;
  text-align: center;
  color: black;
  font-size: 1rem; }

.doscaras {
  margin-bottom: 10px; }

/* Finaliza Filosofía */
/* Empieza Galeria */
/* Extends */
.footer__redes, .main, .aside__section, .maina__carrusel, .maina__section__filosofia, .maina__section__yoga, .maina__section__meditacion, .maina__section__varios, .maina__section__texto, .mainc__section, .mainc__form, .div__boton, .mapa, .doscaras, .textocabanas, .efectocabanas, .efectocabanas2, .efectocabanas3, .mainic__section, .mainic__boton {
  display: flex;
  justify-content: center; }

.maina__section__texto .pf,
.maina__section__texto .py,
.maina__section__texto .pm,
.maina__section__texto .mas, .mobile, .mobileCarrousel {
  display: none; }

.maina__section__filosofia:hover + .maina__section__yoga + .maina__section__meditacion + .maina__section__varios + .maina__section__texto .pf, .maina__section__yoga:hover + .maina__section__meditacion + .maina__section__varios + .maina__section__texto .py, .maina__section__meditacion:hover + .maina__section__varios + .maina__section__texto .pm, .maina__section__varios:hover + .maina__section__texto .mas {
  display: block; }

.maina__section__filosofia, .maina__section__yoga, .maina__section__meditacion, .maina__section__varios {
  padding: 0.2rem 4rem;
  border: solid 5px;
  border-color: #b6873f;
  border-radius: 10px;
  margin: 10px;
  transition: 3s;
  position: relative;
  align-items: center;
  cursor: pointer; }

.maina__section__filosofia .fi, .maina__section__yoga .yo, .maina__section__meditacion .me, .maina__section__varios .ma {
  margin: 0;
  font-size: 1.5rem;
  color: #b6873f;
  letter-spacing: .3rem;
  font-weight: 400;
  text-shadow: 0.1rem 0.1rem 0.1rem black;
  text-transform: uppercase; }

.maina__section__filosofia .mente, .maina__section__yoga .cuerpo, .maina__section__meditacion .espiritu, .maina__section__varios .masmas {
  position: absolute;
  margin: 0;
  font-size: 1.5rem;
  color: #b6873f;
  letter-spacing: .3rem;
  font-weight: 400;
  text-shadow: 0.1rem 0.1rem 0.1rem black;
  text-transform: uppercase; }

.efectocabanas, .efectocabanas2, .efectocabanas3 {
  margin: 20px;
  border-radius: 10px;
  width: 500px;
  height: 300px;
  border: solid 1px;
  background-size: cover;
  transition: all 4s; }
  .efectocabanas:hover, .efectocabanas2:hover, .efectocabanas3:hover {
    animation: carrousel 8s infinite; }
  .efectocabanas:hover + .textocabanas, .efectocabanas2:hover + .textocabanas, .efectocabanas3:hover + .textocabanas {
    background-color: #b6873f; }

/* Mixin */
/* Layout Galeria */
.layoutg {
  display: grid;
  grid-template: "header" auto "maing" auto "footer" auto; }

/* Empieza Main Galeria*/
.maing {
  grid-area: maing; }

.nombrec {
  text-align: center;
  color: red;
  margin: 10px;
  letter-spacing: 5; }

.listag {
  width: fit-content;
  margin: 10px;
  line-height: 2.2;
  letter-spacing: 5;
  word-spacing: 10;
  color: black; }

.bordecabanas {
  margin: 5px;
  display: flex;
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-color: black; }

.textocabanas {
  margin: 20px;
  height: 300px;
  width: 500px;
  transition: 2s;
  border-radius: 10px; }

.efectocabanas {
  background-image: url(../Imagenes/Cabanas/domo1.png); }

@keyframes carrousel {
  50% {
    background-image: url("../Imagenes/Cabanas/interiori1.png"); }
  100% {
    background-image: url("../Imagenes/Cabanas/interioir1-2.png"); } }

.efectocabanas2 {
  background-image: url(../Imagenes/Cabanas/domo2.png); }

@keyframes carrousel {
  50% {
    background-image: url("../Imagenes/Cabanas/interiori2.png"); }
  100% {
    background-image: url("../Imagenes/Cabanas/interiori2-2.png"); } }

.efectocabanas3 {
  background-image: url(../Imagenes/Cabanas/domo3.png); }

@keyframes carrousel {
  50% {
    background-image: url("../Imagenes/Cabanas/interiori2.png"); }
  100% {
    background-image: url("../Imagenes/Cabanas/interiori2-2.png"); } }

/* Finaliza Galería */
/* Empieza I-C */
/* Layout I-C */
.layoutic {
  display: grid;
  grid-template: "header" auto "mainic" auto "footer" auto; }

/* Epieza Main I-C */
.mainic {
  grid-area: mainic; }
  .mainic__boton {
    margin: 10px; }

.textoic {
  margin-top: 10px;
  text-align: center;
  color: black;
  font-size: 1rem; }

.ic img {
  width: 300px;
  margin-bottom: 10px; }

.botonic {
  transition: 0.15;
  text-align: center;
  font-size: 1, 3rem;
  font-family: 'Merienda One', cursive;
  border-radius: 10px;
  border: solid 1px;
  width: 35%;
  background-color: #141314;
  border-color: #52B352;
  padding: 7px;
  color: #52B352;
  text-decoration: none; }
  .botonic:hover {
    background-color: #00FF00;
    color: #FF0080; }

/* Finaliza I-C */
/* MEDIA 500px - Mobile */
/* Extends */
.footer__redes, .main, .aside__section, .maina__carrusel, .maina__section__filosofia, .maina__section__yoga, .maina__section__meditacion, .maina__section__varios, .maina__section__texto, .mainc__section, .mainc__form, .div__boton, .mapa, .doscaras, .textocabanas, .efectocabanas, .efectocabanas2, .efectocabanas3, .mainic__section, .mainic__boton {
  display: flex;
  justify-content: center; }

.maina__section__texto .pf,
.maina__section__texto .py,
.maina__section__texto .pm,
.maina__section__texto .mas, .mobile, .mobileCarrousel {
  display: none; }

.maina__section__filosofia:hover + .maina__section__yoga + .maina__section__meditacion + .maina__section__varios + .maina__section__texto .pf, .maina__section__yoga:hover + .maina__section__meditacion + .maina__section__varios + .maina__section__texto .py, .maina__section__meditacion:hover + .maina__section__varios + .maina__section__texto .pm, .maina__section__varios:hover + .maina__section__texto .mas {
  display: block; }

.maina__section__filosofia, .maina__section__yoga, .maina__section__meditacion, .maina__section__varios {
  padding: 0.2rem 4rem;
  border: solid 5px;
  border-color: #b6873f;
  border-radius: 10px;
  margin: 10px;
  transition: 3s;
  position: relative;
  align-items: center;
  cursor: pointer; }

.maina__section__filosofia .fi, .maina__section__yoga .yo, .maina__section__meditacion .me, .maina__section__varios .ma {
  margin: 0;
  font-size: 1.5rem;
  color: #b6873f;
  letter-spacing: .3rem;
  font-weight: 400;
  text-shadow: 0.1rem 0.1rem 0.1rem black;
  text-transform: uppercase; }

.maina__section__filosofia .mente, .maina__section__yoga .cuerpo, .maina__section__meditacion .espiritu, .maina__section__varios .masmas {
  position: absolute;
  margin: 0;
  font-size: 1.5rem;
  color: #b6873f;
  letter-spacing: .3rem;
  font-weight: 400;
  text-shadow: 0.1rem 0.1rem 0.1rem black;
  text-transform: uppercase; }

.efectocabanas, .efectocabanas2, .efectocabanas3 {
  margin: 20px;
  border-radius: 10px;
  width: 500px;
  height: 300px;
  border: solid 1px;
  background-size: cover;
  transition: all 4s; }
  .efectocabanas:hover, .efectocabanas2:hover, .efectocabanas3:hover {
    animation: carrousel 8s infinite; }
  .efectocabanas:hover + .textocabanas, .efectocabanas2:hover + .textocabanas, .efectocabanas3:hover + .textocabanas {
    background-color: #b6873f; }

/* Mixin */
@media screen and (max-width: 500px) {
  .ocultar {
    display: none; }
  .carposicion {
    margin: 0%;
    width: 280px;
    height: 250px; }
  /* Comienza Header General */
  .logo {
    width: 100px;
    margin: 3px; }
  /* Finaliza Header General */
  /* Empieza Index */
  .main {
    width: 0 auto; }
    .main__section {
      flex-direction: column;
      margin: 2px; }
      .main__section__texto {
        width: auto;
        margin: 5px;
        margin-top: 20px;
        text-align: center; }
        .main__section__texto h1 {
          font-size: 1.5rem; }
      .main__section__carrusel {
        margin-top: 20px;
        margin-bottom: 10px;
        width: auto;
        height: auto; }
  .imgtamano {
    width: 280px;
    height: 250px; }
  /* Finaliza Main Index */
  /* Finaliza Index */
  /* Empieza Actividades */
  .maina__info {
    font-size: 1rem; }
  .btn {
    margin: 1px; }
  .mobile {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column; }
  .mobileCarrousel {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  /* Finaliza Actividades */
  /* Empieza Contacto */
  .mainc {
    min-height: 110vh; }
    .mainc__section__div a {
      font-size: 2rem;
      margin: 3px; }
    .mainc__form {
      width: 98%;
      margin: 0 auto; }
      .mainc__form__form {
        width: 85%;
        padding: 5px;
        margin: 5px; }
  .centrado {
    display: flex;
    justify-content: center; }
  .solocel {
    display: block; }
  .iframe {
    height: 200px; }
  .botonC {
    margin: 2px; }
  .comentarios__style {
    width: 15rem;
    height: 5rem; }
  /* Finaliza Contacto */
  /* Empieza Filosofía */
  .mainf__div img {
    width: 250px; }
  /* Finaliza Filosofía */
  /* Galeria */
  .nombrec {
    margin: 2px;
    padding: 0; }
  .efectocabanas,
  .efectocabanas2,
  .efectocabanas3 {
    width: 250px;
    height: 180px; }
  .textocabanas {
    height: fit-content;
    width: 250px;
    transition: 2s; }
  /* Finzalia Galeria */
  /* Empieza I-C */
  .ic img {
    width: 200px;
    margin: 5px; }
  /* Finaliza I-C */ }

/* MEDIA 769px - Tablet */
@media screen and (max-width: 769px) {
  .centradocelular {
    display: flex;
    justify-content: center; }
  /* Comienza Header General */
  .logotexto {
    width: 100%;
    flex-direction: column; }
  .textotitulo {
    width: 100%;
    text-align: center; }
  /* Finaliza Header General */
  /* Empieza Footer General */
  .footer__redes {
    align-items: flex-start; }
  /* Finaliza Footer General */
  /* Empieza Galeria */
  .bordecabanas {
    justify-content: center; } }
