@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

body {
  background-color: white;
  font-family: "Merienda One", cursive; }

/* Empieza Header */
/* Extends */
.footer__redes, .main, .aside__section, .maina__section, .form, .botonenviar, .mapa, .doscaras, .efectocabanas, .textocabanas, .mainic__section, .mainic__boton {
  display: flex;
  justify-content: center; }

/* Mixin */
.header {
  grid-area: header;
  background-color: #b6873f; }
  .header__nav {
    border-bottom: solid 2px;
    margin-bottom: 2px;
    border-color: #ebead8;
    align-items: flex-end; }

.logo {
  width: 120px;
  border: solid 2px black;
  border-color: #ebead8;
  border-radius: 20px; }

.textotitulo {
  color: black;
  font-family: "Allison", cursive;
  font-size: 3rem;
  margin: 3px; }

.nav-link {
  color: black; }

.navbar-nav .nav-link.active {
  color: #ebead8; }

/* Finaliza Header */
/* Extends */
.footer__redes, .main, .aside__section, .maina__section, .form, .botonenviar, .mapa, .doscaras, .efectocabanas, .textocabanas, .mainic__section, .mainic__boton {
  display: flex;
  justify-content: center; }

/* Mixin */
.footer {
  grid-area: footer;
  background-color: #b6873f;
  border-top: solid 2px;
  border-color: #ebead8; }
  .footer__section {
    color: black;
    margin: 5px; }
  .footer__redes {
    align-items: flex-end; }

.texto1 {
  display: flex; }

.bi {
  color: blue;
  margin: 5px; }

/* Empieza Index */
/* Extends */
.footer__redes, .main, .aside__section, .maina__section, .form, .botonenviar, .mapa, .doscaras, .efectocabanas, .textocabanas, .mainic__section, .mainic__boton {
  display: flex;
  justify-content: center; }

/* Mixin */
/* Layout Index */
.layout {
  display: grid;
  grid-template: "header" auto "main" auto "aside" auto "footer" auto; }

/* Empieza Main Index */
.main {
  grid-area: main; }
  .main__section {
    display: flex;
    align-items: center;
    margin: 20px; }
    .main__section__texto {
      width: 800px;
      margin: 10px; }
    .main__section__carrusel {
      width: 400px;
      height: 400px; }

.imgtamano {
  border-radius: 5px;
  width: 400px;
  height: 350px; }

/* Finaliza Main Index */
/* Comienza Aside Index */
.aside {
  grid-area: aside; }
  .aside__section {
    margin: 20px; }
  .aside .boton {
    transition: 0.15;
    text-align: center;
    font-size: 1,3rem;
    font-family: 'Merienda One', cursive;
    border-radius: 10px;
    border: solid 1px;
    width: 50%;
    background-color: #F7F1F4;
    border-color: #52B352;
    padding: 7px;
    color: #52B352;
    text-decoration: none; }
    .aside .boton:hover {
      background-color: #00FF00;
      color: #FF0080; }

/* Finaliza Aside Index */
/* Finaliza Index */
/* Empieza Actividades */
/* Extends */
.footer__redes, .main, .aside__section, .maina__section, .form, .botonenviar, .mapa, .doscaras, .efectocabanas, .textocabanas, .mainic__section, .mainic__boton {
  display: flex;
  justify-content: center; }

/* Mixin */
/* Layout Actividades */
.layouta {
  display: grid;
  grid-template: "header" auto "maina" auto         "footer" auto; }

.maina {
  grid-area: maina; }
  .maina__section {
    margin: 1px; }

/* Finaliza Actividades */
/* Empieza contacto */
/* Empieza Layout */
.layoutc {
  display: grid;
  grid-template: "header" auto "mainc" auto "footer" auto; }

.mainc {
  grid-area: mainc; }

.solocel {
  display: none; }

.prueba3 img {
  width: 300px;
  height: 170px; }

/* .mapac{
    grid-area: mapa;
} */
.boton {
  transition: 0.15;
  text-align: center;
  font-size: 1,3rem;
  font-family: 'Merienda One', cursive;
  border-radius: 10px;
  border: solid 1px;
  width: 50%;
  background-color: black;
  border-color: #0dcaf0;
  padding: 7px;
  color: #0dcaf0;
  text-decoration: none; }
  .boton:hover {
    background-color: #0dcaf0;
    color: black; }

/* Finaliza Contacto */
/* Empieza filosofía */
/* Layout Filosofía */
.layoutf {
  display: grid;
  grid-template: "header" auto "mainf" auto         "footer" auto; }

.mainf {
  grid-area: mainf; }

.textof {
  text-align: center;
  color: white;
  font-size: 1rem; }

.doscaras {
  margin-bottom: 10px; }

.prueba img {
  width: 300px;
  margin-bottom: 10px; }

/* Finaliza Filosofía */
/* Empieza Galeria */
/* Layout Galeria */
.layoutg {
  display: grid;
  grid-template: "header" auto "maing" auto         "footer" auto; }

/* Empieza Main Galeria*/
.maing {
  grid-area: maing; }

.listag {
  width: fit-content;
  margin: 10px;
  line-height: 2.2;
  letter-spacing: 5;
  word-spacing: 10; }

.nombrec {
  margin: 10px;
  letter-spacing: 5; }

.bordecabanas {
  display: flex;
  border-top: solid 1px white;
  border-bottom: solid 1px white; }

.fotocabanas {
  margin: 20px;
  border-radius: 10px;
  width: 500px;
  height: 300px; }

.efectocabanas {
  transition: all 1s; }
  .efectocabanas:hover {
    transform: scale(1.1); }
  .efectocabanas:hover + .textocabanas {
    background-color: #585161; }

.textocabanas {
  height: 335px;
  width: 500px;
  transition: 2s;
  border-radius: 10px; }

/* Finzalia Galeria */
/* Empieza I-C */
/* Layout I-C */
.layoutic {
  display: grid;
  grid-template: "header" auto "mainic" auto       "footer" auto / 100%; }

/* Epieza Main I-C */
.mainic {
  grid-area: mainic; }
  .mainic__boton {
    margin: 10px; }

.textoic {
  text-align: center;
  color: white;
  font-size: 1rem; }

.ic img {
  width: 300px;
  margin-bottom: 10px; }

.botonic {
  transition: 0.15;
  text-align: center;
  font-size: 1,3rem;
  font-family: 'Merienda One', cursive;
  border-radius: 10px;
  border: solid 1px;
  width: 35%;
  background-color: #141314;
  border-color: #52B352;
  padding: 7px;
  color: #52B352;
  text-decoration: none; }
  .botonic:hover {
    background-color: #00FF00;
    color: #FF0080; }

/* Finaliza I-C */
/* MEDIA 426px - Mobile */
/* Extends */
.footer__redes, .main, .aside__section, .maina__section, .form, .botonenviar, .mapa, .doscaras, .efectocabanas, .textocabanas, .mainic__section, .mainic__boton {
  display: flex;
  justify-content: center; }

/* Mixin */
@media screen and (max-width: 426px) {
  .ocultar {
    display: none; }
  .centradocelular {
    display: flex;
    justify-content: center; }
  /* Comienza Header General */
  .logo {
    width: 100px;
    margin: 3px; }
  .logotexto {
    width: 100%;
    flex-direction: column; }
  /* Finaliza Header General */
  /* Empieza Index */
  .main__section {
    flex-direction: column;
    text-align: center; }
    .main__section__texto {
      width: auto; }
  /* Finaliza Index */
  /* Empieza Actividades */
  .btn {
    margin: 1px; }
  .carrosuelact {
    width: 300px;
    height: 150px; }
  /* Finaliza Actividades */
  /* Empieza Contacto */
  .mainc {
    min-height: 75vh; }
  /*     .mapac{
        min-height: 35vh;
    } */
  .centrado {
    display: flex;
    justify-content: center; }
  .solocel {
    display: block; }
  .prueba3 img {
    width: 300px;
    height: 170px; }
  .iframe {
    height: 200px; }
  /* Finaliza Contacto */
  /* Empieza Filosofía */
  .prueba img {
    width: 250px; }
  /* Finaliza Filosofía */
  /* Galeria */
  .bordecabanas {
    justify-content: center; }
  .fotocabanas {
    width: 250px;
    height: 180px; }
  .efectocabanas:hover {
    transform: scale(1); }
  .textocabanas {
    height: fit-content;
    width: 250px;
    transition: 2s;
    border-radius: 10px; }
  /* Finzalia Galeria */
  /* Empieza I-C */
  .ic img {
    width: 200px;
    margin: 5px; }
  /* Finaliza I-C */ }

/* MEDIA 769px - Tablet */
@media screen and (max-width: 769px) {
  .centradocelular {
    display: flex;
    justify-content: center; }
  /* Comienza Header General */
  .logotexto {
    width: 100%;
    flex-direction: column; }
  .textotitulo {
    width: 100%;
    text-align: center; }
  /* Finaliza Header General */
  /* Empieza Footer General */
  .footer__redes {
    align-items: flex-start; }
  /* Finaliza Footer General */
  /* Empieza Galeria */
  .bordecabanas {
    justify-content: center; } }
