.header{
    grid-area: header;

    &__nav{
        border-bottom: solid 2px;
        margin-bottom: 2px;
        border-color: white;
        align-items: flex-end;
    }
}
/* Empieza Nav */
.logo{
    width: 120px;      
    border: solid 2px black;   
    border-radius: 20px;
}
.textotitulo{
    color: map-get($colores, "colorTexto");    
    font-family: 'Allison', cursive;
    font-size: 3rem;
    margin: 3px;
}
.nav-link{
    color: map-get($colores, "colorNavLink");    
}
.navbar-nav .nav-link.active{
    color: map-get($colores, "colorNavActive" );
}