/* Layout I-C */
.layoutic{
    display: grid;
    grid-template: 
        "header" auto
        "mainic" auto      
        "footer" auto /
        100%
    ; 
}
/* Epieza Main I-C */
.mainic{
    grid-area: mainic;
}

.ic img{
    width: 300px;
    margin-bottom: 10px;
}
/* Finaliza I-C */