*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    font-family: 'Merienda One', cursive; 
}

/* Empieza Header General */
.header{
    grid-area: header;
}
.section__header{
    margin: 5px;
}
.section__header p{
    margin: 10px;
    font-family: 'Allison', cursive;
    font-size: 40px;
}
.logo{
    width: 140px;      
    border: solid 2px black;   
    border-radius: 20px;
    margin: 5px;
}
/* Finaliza Header General */

/* Empieza Navegador General */
.navegador{
    grid-area: navegador;
}
.nav-link{
    color: rgb(248 204 105);
}
.navbar-nav .nav-link.active{
    color: rgb(137, 137, 182);
}
/* Finaliza Navegador General */

/* Comienza Footer General */
.footer{
    grid-area: footer;
}
.ul__footer{
    list-style: none;
}
.redes{
    width: 25px;
    margin: 5px;
}
.bi{
    color: rgb(248 204 105);
}
/* Finaliza Footer General */

/* Enmpieza CSS particular de cada página */

/* Empieza Index */
/* Layout Index */
.layout{    
    display: grid;
    grid-template: 
        "header" auto
        "navegador" auto
        "main" auto
        "aside" auto
        "footer" auto
        ; 
}
/* Empieza Main Index */
.main{
    grid-area: main;
}
.container p{
    font-size: 30px;
    margin: 5px;
}
.height{
    height: 400px;
}
/* Finaliza Main Index */
/* Comienza Aside Index */
.aside{
    grid-area: aside;
}
.main__section__escribinos{
    margin: 20px;
}
/* Finaliza Aside Index */
/* Finaliza Index */

/* Empieza Actividades */
/* Layout Actividades */
.layouta{
    display: grid;
    grid-template: 
        "header" auto
        "navegador"
        "maina" auto        
        "footer" auto 
    ; 
}
.maina{
    grid-area: maina;
}
/* Finaliza Activdades */

/* Empieza Contacto */
/* Empieza Layout */
.layoutc{
    display: grid;
    grid-template: 
        "header" auto
        "navegador"
        "mainc" auto
        "mapa" auto       
        "footer" auto 
    ; 
}
.mainc{
    grid-area: mainc;
}
.solocel{
    display: none;
}
.prueba3 img{
    width: 300px;
    height: 170px;    
}
.mapac{
    grid-area: mapa;
}
/* Finaliza Contacto */

/* Empieza Filosofía */
/* Layout Filosofía */
.layoutf{
    display: grid;
    grid-template: 
        "header" auto
        "navegador" auto
        "mainf" auto        
        "footer" auto 
    ; 
}
.mainf{
    grid-area: mainf;
}
.prueba img{
    width: 300px;
}
/* Finaliza Filosofía */

/* Empieza Galeria */
/* Layout Galeria */
.layoutg{
    display: grid;
    grid-template: 
        "header" auto
        "navegador" auto
        "maing" auto        
        "footer" auto 
    ; 
}
/* Empieza Main Galeria*/
.maing{
    grid-area: maing;
}
.listag{
    width: fit-content;
    margin: 10px;
    line-height: 2.2; 
    letter-spacing: 5; 
    word-spacing: 10; 
}
.nombrec{
    margin: 10px;
    line-height: 2.2; 
    letter-spacing: 5;    
}
.fotocabanas:hover{
    transform: scale(1.1); 
}
.fotocabanas{
    transition: all 1s;
    margin: 20px;
    border-radius: 10px;
    width: 500px;
    height: 300px;
}
/* Finzalia Galeria */

/* Empieza I-C */
/* Layout I-C */
.layoutic{
    display: grid;
    grid-template: 
        "header" auto
        "navegador"
        "mainic" auto      
        "footer" auto /
        100%
    ; 
}
/* Epieza Main I-C */
.mainic{
    grid-area: mainic;
}

.ic img{
    width: 300px;
}
/* Finaliza I-C */

/* MEDIA 425px - Mobile */
@media screen and (max-width: 425px){
    .ocultar{
        display: none;
    }
    /* Comienza Header General */
    .logo{
        width: 120px;      
        margin: 3px;
    }
    /* Finaliza Header General */

    /* Comienza Footer General */
    .firma{
        font-size: 40px;
    }
    /* Finaliza Footer General */

    /* Empieza Index */
    /* Layout Index */
    .container p{
        font-size: 17px;
    }
    .height{
        height: 200px;
    }
    /* Finaliza Index */

    /* Empieza Actividades */
    .btn{
        margin: 1px;
    }
    .prueba2{
        width: 300px;
        height: 150px;
    }
    /* Finaliza Actividades */

    /* Empieza Contacto */
    .mapac{
        min-height: 35vh;
    }
    .solocel{
        display: block;
    }
    .prueba3 img{
        width: 300px;
        height: 170px;    
    }
    .iframe{
        width: 300px;
        height: 200px;
    } 
    /* Finaliza Contacto */

    /* Galeria */
    .fotocabanas{
        height: 200px;
    }
    /* Finzalia Galeria */

    /* Empieza I-C */    
    .ic img{
        width: 200px;
        margin: 5px;
    }
    /* Finaliza I-C */


}