@import "../base/extends-mixin";

.footer{
    grid-area: footer;
    border-top: solid 2px;
    border-color: map-get($colores, "colorBordeFooter" );  

    &__section{
        color: map-get($colores, "colorTexto");
        margin: 5px
    } 
    &__redes{
        @extend %flexCenter;
        align-items: flex-end;
    }      
}
.texto1{
    display: flex;
}
.bi{
    color: map-get($colores, "colorIconos");
    margin: 5px;
}