/* MEDIA 500px - Mobile */
@import "../base/extends-mixin";

@media screen and (max-width: 500px) {
    .ocultar {
        display: none;
    }

    .carposicion {
        margin: 0%;
        width: 280px;
        height: 250px;
    }

    /* Comienza Header General */
    .logo {
        width: 100px;
        margin: 3px;
    }

    /* Finaliza Header General */

    /* Empieza Index */
    .main {
        width: 0 auto;

        &__section {
            flex-direction: column;
            margin: 2px;

            &__texto {
                width: auto;
                margin: 5px;
                margin-top: 20px;
                text-align: center;

                & h1 {
                    font-size: 1.5rem;
                }
            }

            &__carrusel {
                margin-top: 20px;
                margin-bottom: 10px;
                width: auto;
                height: auto;
            }
        }
    }

    .imgtamano {
        width: 280px;
        height: 250px;
    }

    /* Finaliza Main Index */
    /* Finaliza Index */

    /* Empieza Actividades */
    .maina {
        &__info {
            font-size: 1rem;
        }
    }

    .btn {
        margin: 1px;
    }

    .mobile {
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }

    .mobileCarrousel {
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Finaliza Actividades */

    /* Empieza Contacto */
    .mainc {
        min-height: 110vh;

        &__section {
            &__div a {
                font-size: 2rem;
                margin: 3px;
            }
        }

        &__form {
            width: 98%;
            margin: 0 auto;

            &__form {
                width: 85%;
                padding: 5px;
                margin: 5px;
            }
        }
    }

    .centrado {
        display: flex;
        justify-content: center;
    }

    .solocel {
        display: block;
    }

    .iframe {
        height: 200px;
    }

    .botonC {
        margin: 2px,
    }

    .comentarios {
        &__style {
            width: 15rem;
            height: 5rem
        }
    }

    /* Finaliza Contacto */

    /* Empieza Filosofía */
    .mainf {
        &__div img {
            width: 250px;
        }
    }

    /* Finaliza Filosofía */

    /* Galeria */
    .nombrec {
        margin: 2px;
        padding: 0;
    }

    .efectocabanas,
    .efectocabanas2,
    .efectocabanas3 {
        width: 250px;
        height: 180px;
    }

    .textocabanas {
        height: fit-content;
        width: 250px;
        transition: 2s;
    }

    /* Finzalia Galeria */

    /* Empieza I-C */
    .ic img {
        width: 200px;
        margin: 5px;
    }

    /* Finaliza I-C */
}

/* MEDIA 769px - Tablet */
@media screen and (max-width: 769px) {
    .centradocelular {
        display: flex;
        justify-content: center;
    }

    /* Comienza Header General */
    .logotexto {
        width: 100%;
        flex-direction: column;
    }

    .textotitulo {
        width: 100%;
        text-align: center;
    }

    /* Finaliza Header General */

    /* Empieza Footer General */
    .footer {
        &__redes {
            align-items: flex-start;
        }
    }

    /* Finaliza Footer General */

    /* Empieza Galeria */
    .bordecabanas {
        justify-content: center;
    }
}