/* MEDIA 426px - Mobile */
@import "../base/extends-mixin";

@media screen and (max-width: 426px){
    .ocultar{
        display: none;
    }
    .centradocelular{
        display: flex;
        justify-content: center;    
    }
    /* Comienza Header General */
    .logo{
        width: 100px;      
        margin: 3px;
    }
    .logotexto{
       width: 100%;
       flex-direction: column; 
    } 
    /* Finaliza Header General */

    /* Empieza Index */
    .main{
        &__section{
            flex-direction: column;
            text-align: center;
            &__texto{
                width: auto;
            }
            &__carrusel{
                width: 300px;
                height: 300px;
            }
        }
    }
    .imgtamano{
        width: 300px;
        height: 250px;
    } 
    /* Finaliza Index */

    /* Empieza Actividades */
    .btn{
        margin: 1px;
    }
    .carrosuelact{
        width: 300px;
        height: 150px;
    }
    .mobile{
        display: block;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    /* Finaliza Actividades */

    /* Empieza Contacto */
    .mainc{
        min-height: 95vh;
    }
/*     .mapac{
        min-height: 35vh;
    } */
    .centrado{
        display: flex;
        justify-content: center;
    }
    .solocel{
        display: block;
    }
    .prueba3 img{
        width: 300px;
        height: 170px;    
    }
    .iframe{
        height: 200px;
    } 
    /* Finaliza Contacto */

    /* Empieza Filosofía */
    .prueba img{
        width: 250px;
    }
    /* Finaliza Filosofía */

    /* Galeria */
    .bordecabanas{
        justify-content: center;
    }
    .fotocabanas{
        width: 250px;
        height: 180px;
    }
    .efectocabanas{
        &:hover{
            transform: scale(1); 
        }
    }
    .textocabanas{
        height: fit-content;
        width: 250px;
        transition: 2s;
        border-radius: 10px;
    }
    /* Finzalia Galeria */

    /* Empieza I-C */    
    .ic img{
        width: 200px;
        margin: 5px;
    }
    /* Finaliza I-C */
}

/* MEDIA 769px - Tablet */
@media screen and (max-width: 769px){
    .centradocelular{
        display: flex;
        justify-content: center;    
    }
    /* Comienza Header General */
    .logotexto{
        width: 100%;
        flex-direction: column; 
    } 
    .textotitulo{
        width: 100%;
        text-align: center;
    }
    /* Finaliza Header General */

    /* Empieza Footer General */
    .footer{
        &__redes{
            align-items: flex-start;
        }      
    }
    /* Finaliza Footer General */

    /* Empieza Galeria */
    .bordecabanas{
        justify-content: center;
    }
}