/* MEDIA 500px - Mobile */
@import "../base/extends-mixin";

@media screen and (max-width: 500px){
    .ocultar{
        display: none;
    }
    .centradocelular{
        display: flex;
        justify-content: center;    
    }
    .carposicion{
        margin: 0%;
        width: 280px;
        height: 250px;
    }
    /* Comienza Header General */
    .logo{
        width: 100px;      
        margin: 3px;
    }
    .logotexto{
       width: 100%;
       flex-direction: column; 
    } 
    /* Finaliza Header General */

    /* Empieza Index */
    .main{
        min-height: 75vh;
        width: 0 auto;
        &__section{
            flex-direction: column;
            margin: 2px; 
            &__texto{
                width: auto;
                margin: 5px;
                margin-top: 20px;
                text-align: center;
                & h1{
                    font-size: 1.5rem;
                }
            }
            &__carrusel{
                margin-top: 20px;
                margin-bottom: 20px;
                width: auto;
                height: auto;
            }
        }
    }
    .imgtamano{
        width: 280px;
        height: 250px;
    } 
    /* Finaliza Main Index */
    /* Comienza Aside Index */
    .aside{
        grid-area: aside;
        &__section{
            margin: 20px;
        }
    } 
    /* Finaliza Aside Index */

    /* Finaliza Index */

    /* Empieza Actividades */
    .maina{
        min-height: 95vh;
    }
    .btn{
        margin: 1px;
    }
    .mobile{
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    /* Finaliza Actividades */

    /* Empieza Contacto */
    .mainc{
         min-height: 150vh; 
    }
    .centrado{
        display: flex;
        justify-content: center;
    }
    .solocel{
        display: block;
    }
    .iframe{
        height: 200px;
    } 
    /* Finaliza Contacto */

    /* Empieza Filosofía */
    .mainf{
        &__div img{
            width: 250px;
        }
    }
    /* Finaliza Filosofía */

    /* Galeria */
    .nombrec{
        margin: 2px;
        padding: 0;
    }
    .bordecabanas{
        justify-content: center;
    }
    .efectocabanas, .efectocabanas2, .efectocabanas3{
        width: 250px;
        height: 180px;
    }
    .textocabanas{
        height: fit-content;
        width: 250px;
        transition: 2s;
    }
    /* Finzalia Galeria */

    /* Empieza I-C */    
    .ic img{
        width: 200px;
        margin: 5px;
    }
    /* Finaliza I-C */
}

/* MEDIA 769px - Tablet */
@media screen and (max-width: 769px){
    .centradocelular{
        display: flex;
        justify-content: center;    
    }
    /* Comienza Header General */
    .logotexto{
        width: 100%;
        flex-direction: column; 
    } 
    .textotitulo{
        width: 100%;
        text-align: center;
    }
    /* Finaliza Header General */

    /* Empieza Footer General */
    .footer{
        &__redes{
            align-items: flex-start;
        }      
    }
    /* Finaliza Footer General */

    /* Empieza Galeria */
    .bordecabanas{
        justify-content: center;
    }
}