/* Empieza Actividades */
@import "../base/extends-mixin";
/* Layout Actividades */
.layouta{
    display: grid;
    grid-template: 
        "header" auto
        "maina" auto        
        "footer" auto 
    ; 
}
.maina{
    grid-area: maina;    
    &__section{
        @extend %flexCenter;
        margin: 1px;        
    }
}
/* Finaliza Actividades */