/* Empieza Actividades */
@import "../base/extends-mixin";
/* Layout Actividades */
.layouta{
    display: grid;
    grid-template: 
        "header" auto
        "maina" auto        
        "footer" auto 
    ; 
}
.maina{
    grid-area: maina;
    min-height: 90vh;
    &__carrusel{
        @extend %flexCenter;
        margin-top: 10px
    }
    &__info{
        text-align: center;
        font-size: 1.5rem;
        margin: 20px auto;
        width: 80%
    }
    &__section__filosofia{
        @extend %flexCenter;
        @extend %actividades;
        & .fi{
            opacity: 100%;
            @extend %textoa;
        }
        & .mente{
            opacity: 0;
            @extend %textob;
        }
        &:hover{
            transform: rotateX(360deg);
            & .fi{
                transition: 2s;
                opacity: 0;
            }
            & .mente{
                transition: 4s;
                opacity: 100%;
            }
        }
        &:hover{
            & + .maina__section__yoga{
                & + .maina__section__meditacion{
                    & + .maina__section__varios{                       
                        & + .maina__section__texto{
                            background-color: map-get($colores, "colorFondoActividades");
                            background-image: url(../Imagenes/actividades/fondoFilo.png);
                            & .pf{
                                @extend %dblock;
                            }
                        }
                    }
                }
            }
        }
    }
    &__section__yoga{
        @extend %flexCenter;
        @extend %actividades;
        & .yo{
            opacity: 100%;
            @extend %textoa;
        }
        & .cuerpo{
            opacity: 0;
            @extend %textob;
        }
        &:hover{
            transform: rotateX(360deg);
            & .yo{
                transition: 2s;
                opacity: 0;
            }
            & .cuerpo{
                transition: 4s;
                opacity: 100%;
            }
        }
        &:hover{
            & + .maina__section__meditacion{
                & + .maina__section__varios{
                    & + .maina__section__texto{
                        background-color: map-get($colores, "colorFondoActividades");
                        background-image: url(../Imagenes/actividades/fondoYoga.png);
                        & .py{
                            @extend %dblock;
                        }
                    }
                }
            }
        }
    }
    &__section__meditacion{
        @extend %flexCenter;
        @extend %actividades;
        & .me{
            opacity: 100%;
            @extend %textoa;
        }
        & .espiritu{
            opacity: 0;
            @extend %textob;
        }
        &:hover{
            transform: rotateX(360deg);
            & .me{
                transition: 2s;
                opacity: 0;
            }
            & .espiritu{
                transition: 4s;
                opacity: 100%;
            }
        }
        &:hover{
            & + .maina__section__varios{
                & + .maina__section__texto{
                    background-color: map-get($colores, "colorFondoActividades");
                    background-image: url(../Imagenes/actividades/fondoMeditacion.png);
                    & .pm{
                        @extend %dblock;
                    }
                }
            }
        }
    }
    &__section__varios{
        @extend %flexCenter;
        @extend %actividades;
        & .ma{
            opacity: 100%;
            @extend %textoa;
        }
        & .masmas{
            opacity: 0;
            @extend %textob;
        }
        &:hover{
            transform: rotateX(360deg);
            & .ma{
                transition: 2s;
                opacity: 0;
            }
            & .masmas{
                transition: 4s;
                opacity: 100%;
            }
        }
        &:hover{
            & + .maina__section__texto{
                background-color: map-get($colores, "colorFondoActividades");
                background-image: url(../Imagenes/actividades/mas.png);
                & .mas{
                    @extend %dblock;
                }
            }
        }
    }
    &__section__texto{
        @extend %flexCenter;
        align-items: center;
        border: solid 1px;
        border-color: map-get($colores, "colorBordeTextoActividades");
        border-radius: 10px;
        width: 100%;
        height: 300px;
        margin: 10px;
        margin-top: 40px;
        & .pf, .py, .pm, .mas{
            letter-spacing: .2rem;
            word-spacing: 1rem;
            line-height: 2rem;
            font-weight: 200;
            @extend %dnone;
        }
    }
}
.mobile{
    @extend %dnone;
}
.mobileCarrousel{
    @extend %dnone;
}
.accordion{
    margin-top: 20px;
}
/* Finaliza Actividades */