/* Empieza contacto */
/* Empieza Layout */
.layoutc{
    display: grid;
    grid-template: 
        "header" auto
        "mainc" auto
        "mapa" auto       
        "footer" auto 
    ; 
}
.mainc{
    grid-area: mainc;
}
.solocel{
    display: none;
}
.prueba3 img{
    width: 300px;
    height: 170px;    
}
.botonenviar{
    @extend %flexCenter;
}
.mapac{
    grid-area: mapa;
}
.boton{
    @include boton (50%, black, #0dcaf0, #0dcaf0, black, #0dcaf0)
}
/* Finaliza Contacto */