/* Empieza contacto */
/* Empieza Layout */
.layoutc{
    display: grid;
    grid-template: 
        "header" auto
        "mainc" auto
        "footer" auto 
    ; 
}
.mainc{
    grid-area: mainc;
    &__h1{
        text-align: center;
        margin: 5px
    }
    &__section{
        display: flex;
        justify-content: center;
        &__div a{
            font-size: 3rem;
            color: map-get($colores, "colorIconosContacto");
            margin: 5px;
            & .ic:hover{
                transition: 0.2s;
                color: map-get($colores, "colorHoverIconosContacto");
            }
        }
    }
    &__form{
        @extend  %flexCenter;
        width: auto;
        margin: 2px;
        background-color: map-get($colores, "colorFondoSection");
        &__form{
            padding: 10px;
            margin: 10px;
            background-color: map-get($colores, "colorFondoForm");
            border-radius: 10px;
        }
    }
}
.botonC{
    margin: 5px
}
.comentarios{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* .form{
    @extend  %flexCenter;
    margin: 2px;
}
.solocel{
    @extend %dnone
}
.botonenviar{
    @extend %flexCenter;
} */
.mapa{
    @extend %flexCenter;
}
/* Finaliza Contacto */