/* Empieza filosofía */
/* Layout Filosofía */
.layoutf{
    display: grid;
    grid-template: 
        "header" auto
        "mainf" auto        
        "footer" auto 
    ; 
}
.mainf{
    grid-area: mainf;
}
.textof{
    @include texto(white,1rem)
}
.doscaras{
    @extend %flexCenter;
    margin-bottom: 10px;
}
.prueba img{
    width: 300px;
    margin-bottom: 10px;
}
/* Finaliza Filosofía */