/* Empieza I-C */
/* Layout I-C */
.layoutic {
    display: grid;
    grid-template:
        "header" auto
        "mainic" auto "footer" auto
    ;
}

/* Epieza Main I-C */
.mainic {
    grid-area: mainic;

    &__section {
        @extend %flexCenter;
    }

    &__boton {
        @extend %flexCenter;
        margin: 10px;
    }
}

.textoic {
    margin-top: 10px;
    @include texto(1rem)
}

.ic img {
    width: 300px;
    margin-bottom: 10px;
}

.botonic {
    @include boton (35%, #141314, #52B352, #52B352, #FF0080, #00FF00)
}

/* Finaliza I-C */