/* Empieza Index */
@import "../base/extends-mixin";

/* Layout Index */
.layout {
    display: grid;
    grid-template:
        "header" auto
        "main" auto
        "aside" auto
        "footer" auto
    ;
}

/* Empieza Main Index */
.main {
    grid-area: main;
    @extend %flexCenter;

    &__section {
        display: flex;
        align-items: center;
        margin: 20px;

        &__texto {
            width: 800px;
            margin: 10px
        }

        &__carrusel {
            width: 400px;
            height: 400px;
        }
    }
}

.imgtamano {
    border-radius: 5px;
    width: 400px;
    height: 350px;
}

/* Finaliza Main Index */
/* Comienza Aside Index */
.aside {
    grid-area: aside;

    &__section {
        margin: 20px;
        @extend %flexCenter;
    }

    .boton {
        @include boton (50%, #F7F1F4, #52B352, #52B352, #FF0080, #00FF00)
    }
}

/* Finaliza Aside Index */
/* Finaliza Index */