/* Extends */
%flexCenter{
    display: flex;
    justify-content: center;
}
%dnone{
    display: none;
}
%dblock{
    display: block;
}
%actividades{
    align-items: center;
    border: solid 5px;
    border-color: map-get($colores , "colorBordeActividades");
    border-radius: 10px;
    margin: 10px;
}
%textoa{
    text-align: center;
    margin: 0;
    width: 100%;
}
/* Mixin */
@mixin texto ($color, $tamano){
    text-align: center; 
    color: $color;
    font-size: $tamano;   
}

@mixin boton ($width, $bgcolor, $bcolor, $acolor, $hacolor, $hbgcolor ){
    transition: 0.15;
    text-align: center;
    font-size: 1,3rem;
    font-family: 'Merienda One', cursive;
    border-radius: 10px;
    border: solid 1px;
    width: $width;
    background-color: $bgcolor;
    border-color: $bcolor;
    padding: 7px;
    color: $acolor;
    text-decoration: none;
    &:hover{
        background-color:$hbgcolor;
        color: $hacolor;
    } 
}