/* Extends */
%flexCenter{
    display: flex;
    justify-content: center;
}
%dnone{
    display: none;
}
%dblock{
    display: block;
}
%actividades{
    align-items: center;
    border: solid 5px;
    border-color: map-get($colores , "colorBordeActividades");
    border-radius: 10px;
    margin: 10px;
}
%textoa{
    text-align: center;
    margin: 0;
    width: 100%;
}
%animaciong{
    margin: 20px;
    border-radius: 10px;
    width: 500px;
    height: 300px;
    border: solid 1px;
    background-size: cover;
    transition: all 4s;
    &:hover{
        animation: carrousel 8s infinite;
    }
    &:hover + .textocabanas{
        background-color: map-get($colores, "colorFondoTextoGaleria");
    }
}
/* Mixin */
@mixin texto ($tamano){
    text-align: center; 
    color: map-get($colores, "colorTextoCentral");
    font-size: $tamano;   
}
@mixin boton ($width, $bgcolor, $bcolor, $acolor, $hacolor, $hbgcolor ){
    transition: 0.15;
    text-align: center;
    font-size: 1,3rem;
    font-family: 'Merienda One', cursive;
    border-radius: 10px;
    border: solid 1px;
    width: $width;
    background-color: $bgcolor;
    border-color: $bcolor;
    padding: 7px;
    color: $acolor;
    text-decoration: none;
    &:hover{
        background-color:$hbgcolor;
        color: $hacolor;
    } 
}
@mixin hoverAnimacion ($imagen1, $imagen2){
    @keyframes carrousel{
        50%{
            background-image: url($imagen1);
        }
        100%{
            background-image: url($imagen2);
        }
      }
}